*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f1e6c8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home{
  display: flex;
  position: absolute;
  top: 5rem;
  font-size: 2rem;
  a{
    color: #2b2118;
    text-decoration: none;
    transition: 0.5s;
    &:hover{
      color: #caa45a;
    }
  }
}
.login-box{
    width: 22%;
    background: #f9f1da;
    border: 1px solid #c7a56b;
    padding: 26px;
    border-radius: 10px;
    h1{
     text-align: center;
     margin-bottom: 20px;
     color: #2b2118;
    }
    input{
      width: 100%;
      padding: 10px;
      margin-bottom: 14px;
      border: 1px solid #c7a56b;
      border-radius: 6px;
      background: #fff7e6;
      outline: none;
      &:hover{
       box-shadow: 0 4px 8px hsla(0, 0%, 0%, 25%); 
      }
    }
    label{
      display: block;
      font-size: 14px;
      margin-bottom: 6px;
      color: #2b2118;
    }
    .remember{
      display: flex;
      text-align: center;
      gap: 6px;
      font-size: 13px;
      color: #5a4634;
      input{
        width: auto;
      }
    }
    .options{
        margin-bottom: 14px;
    }
    button{
      width: 100%;
      padding: 10px;
      background: #caa45a;
      border: 1px solid #8d6a37;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.8s;
      &:hover{
        background-color: #b8924b;
        box-shadow: 0 4px 8px hsla(0, 0%, 0%, 25%); 
      }
    }
    .reg{
      margin-top: 14px;
      font-size: 13px;
      text-align: center;
      color: #5a4634;
      font-weight: bold;
       a{
        text-decoration: none;
       &:hover{
        text-decoration: underline;
      }
      }
    }
}
