*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.row{
    display: flex;
}
.grid{
    display: grid;
}
body{
    background-color: #fff7e6;
}
body ul, a{
    text-decoration: none;
    list-style: none;
}
.top-bar{
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 20%);
    .p-logo{
        a{
            display: flex;
            align-items: center;
            font-size: medium;
            font-weight: bold;
            color: #2b2118;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 8px;
            align-items: center;
            border-radius: 10px;
        }
    }
    .header-nav{
        .list{
            display: flex;
            gap: 22px;
        }
        .item a{ 
            color: black;
            font-size: medium;
            font-weight: bold;
            position: relative;
            transition: 0.5s;
            &:hover{
                color: #caa45a;
            }
            &::after{
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: -9px;
                left: 0;
                background-color: #caa45a;
                transition: 1.3s;
            }
            &:hover::after{
                width: 100%;
     }
 }
    }
}
.search-box {
    position: relative;
    width: 250px;
    #searchbox {
        width: 100%;
        padding-top: 10px;
        padding-right: 42px ;
        padding-bottom: 10px;
        padding-left: 16px;
        border-radius: 24px;
        border: 2px solid gray;
        outline: none;
    }
    i {
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: #777;
    }
    }
.log-reg{
    a{
        font-weight: bold;
        font-size: medium;
        color: black;
        &:hover{
            color: #caa45a;
        }
    }
    .log-after{
        &::after{
            content: '|';
            color: gray;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
.buy-item{
    width: 50%;
    border: 1px solid #c7a56b;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-inline: auto; 
    margin-top: 50px;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, 15%);
    margin-bottom: 50px;
    .information{
        padding: 20px;
        border-radius: 20px;
        .buy-title{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
        .d-contact-list{ 
            list-style: inside;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
    .contact{
        padding: 20px;
        border: 2px solid #c7a56b;
        border-radius: 20px;
        background-color: #fff0d1;
        h2{
            font-size: large;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
        .contact-list{
            display: flex;
            flex-direction: column;
            gap: 12px;
            a{
                color: black;
                &:hover{
                    text-decoration: underline;
                    color: purple;
                }
            }
            i {
                margin-right: 5px;
            }
        }
    }
}
.contact-social{
    justify-content: center;
    align-items: center; 
    margin-top: 15px;   
    gap: 15px;
    i {
        font-size:large;
        color: #2b2118;
        transition: 0.3s;
        &:hover{
            transform: scale(1.3);
            color: pink;
            
        }
    }
}
.about-aseni{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: xx-large;
   margin-bottom: 18px;
  }
  p{
   font-size: large;
   color: #444;
   white-space: pre-line; 
 }
}
.normal-item{
     box-shadow: 0 4px 8px hsla(0, 0%, 0%, 20%);
    h2{
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        margin: 20px;
    }
    span{
        font-size: large;
        font-weight: bold;
        color: lightpink;
    }
    .normal-product{
        width: 80%;
        margin-inline: auto;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        text-align: center;
        padding: 20px;
        .normal-card{
            border: 2px solid #c7a56b;
            border-radius: 15px;
            padding: 15px;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
              background-color: #fff0d1;
              transform: scale(1.05);
            }
               .item-buy{
                color: white;
                margin-top: 12px;
                display: inline-block;
                padding: 8px;
                padding-right: 16px;
                background-color: #caa45a;
                color: white;
                border: none;
                border-radius: 8px;
                border:  2px solid black;
                font-size: medium;
                font-weight: bold;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 20%);
                }
                }
            h3{
                font-size: x-large;
                font-weight: bold;
                margin: 10px 0;
                color: rgb(212, 49, 212);

            }
            p{
                font-size: medium;
                color: #555;
            }
        }
        img{
            width: 80%;
            height: auto;
            border-radius: 15px;
        }
    }
}
.footer{ 
    justify-content: center;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 30%);
    .footer-top {
        padding: 15px;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-inline: auto;
        .footer-social{
            margin-top: 12px;
            text-align: center;
            a{
                margin-right: 12px;
                font-size: large;
                color: #2b2118
            }
            i{
                transition: 0.3s;
                &:hover{
                    transform: scale(1.3);
                    color: pink;
                }
            }
        }
        p{
            font-size: medium;
            color: #2b2118;
            white-space: pre-line;
        }
        h2{
                font-size: x-large;
                font-weight: bold;
                margin: 10px;
                color: #9b7a45;
        }
        a{
            color: black;
            font-size: medium;
            font-weight: 600;
            margin-right: 12px;
            transition: 0.3s;
            padding: 7px;
            &:hover{
                background-color: #a27328d2;
                border-radius: 8px;
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    .p-copyright{
        text-align: center;
        padding: 12px;
        font-size: small;
        font-weight: 700;
        color: black;
        box-shadow: 0 4px 10px hsla(0, 0%, 0%, 20%);
    }
}
/* მორგებადობა მობილურზე */
@media screen and (max-width: 768px) {
    .top-bar{
        flex-wrap: wrap;
        gap: 12px;
    }
        .about-aseni{
        flex-wrap: wrap;
        width: 90%;
    }
    .buy-item{
        width: 90%;
        flex-direction: column;
    }
    .normal-item {
       .normal-product{
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
        width:92%;
       } 
    }
    .top-bar{
        .header-nav{
            ul{
                flex-wrap: wrap;
                gap: 12px;
            }
        }
    }
    .footer{
        .footer-top{
            flex-wrap: wrap;
            width: 90%;
        }
    }
}